body {
  margin: 0;
}

.container {
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: white;
  height: 60px;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}

.sidebar {
  background-color: white;
  width: 140px;
}

.wrapper {
  flex-grow: 1;
  background-color: whitesmoke;
  padding: 16px 16px 16px 16px;
  border-radius: 10px 0px 0px 0px;
}

.content {
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.program {
  background-color: white;
  padding: 12px 16px;
}

.program-list {
  display: flex;
  gap: 14px;
  padding: 5px;
  background-color: whitesmoke;
  width: fit-content;
  border-radius: 10px;
}

.program-list span {
  padding: 5px 10px;
  color: gray;
  border-radius: 6px;
}

.program-list span:first-child {
  color: black;
  background-color: white;
}
